 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--

    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

body {
  background-color: #eeeeee;
  text-align: center;
  margin : 1vh 0 0 1vw;
}
#controle
{
  float : right;
}
#controles img {
  height: 6vh;
}
#waitdiv
{
  float: left;
}
#wait{
  width: 4em;
}
table {
  border-collapse: collapse;
  font-size: 0px;
}
.main table {
  border: 2px solid #333333;
  background-color: #b5b5b5;
}
.case {
  border : 1px solid black;
  width : 9.5vw;
  height : 6vh;
  box-sizing: border-box;
  background-repeat:no-repeat;
  background-size: auto 3vh;
  background-position: center center;
}
.sep {
  height : 1vh;
  background-color: #eeeeee;
}
.sep_blocs {
  height: 2vh;
}
.bloc {
padding-left: 3vw;
}

.bloc img {
  display: inline-block;
  height: 2vh;
  margin-left : 2vw;
  margin-right : 2vw;
}

.i1 {background-image:url(images/1.svg);}
.i2 {background-image:url(images/2.svg);}
.i3 {background-image:url(images/3.svg);}
.i4 {background-image:url(images/4.svg);}
.i5 {background-image:url(images/5.svg);}
.i6 {background-image:url(images/6.svg);}
.i7 {background-image:url(images/7.svg);}
.i8 {background-image:url(images/8.svg);}
.i9 {background-image:url(images/9.svg);}
.i10 {background-image:url(images/10.svg);}
.i11 {background-image:url(images/11.svg);}
.i12 {background-image:url(images/12.svg);}
.i13 {background-image:url(images/13.svg);}
.i14 {background-image:url(images/14.svg);}
.i15 {background-image:url(images/15.svg);}
.i16 {background-image:url(images/16.svg);}
.i17 {background-image:url(images/17.svg);}
.i18 {background-image:url(images/18.svg);}
.i19 {background-image:url(images/19.svg);}
.i20 {background-image:url(images/20.svg);}

.coul0 {background-color: #dbaf00;}
.coul1 {background-color: #ece249;}
.coul2 {background-color: #fb5050;}
