 /*
    --En-tête officielle pour dire que ce code est sous une licence "libre" (plus d'infos: https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU)--

    Copyright (C) A.RENAUDIN  Developer

    The JavaScript code in this page is free software: you can
    redistribute it and/or modify it under the terms of the GNU
    General Public License (GNU GPL) as published by the Free Software
    Foundation, either version 3 of the License, or (at your option)
    any later version.  The code is distributed WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

    As additional permission under GNU GPL version 3 section 7, you
    may distribute non-source (e.g., minimized or compacted) forms of
    that code without the copy of the GNU GPL normally required by
    section 4, provided you include this license notice and a URL
    through which recipients can access the Corresponding Source.
*/

body {
  background-color: #B5B5B5;
  text-align: center;
}

.full {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98%;
  position: absolute;
  width: 98%;
  box-sizing: border-box;
}
#controles {
  width: 98%;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 5px;
}

#controles img {
  height : 2em;
}
#kazo_img {
  margin-right: 5vw;
}

#image {
  flex: 1;
  width: 98%;
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(kazo.svg);
}

audio {
  visibility : hidden;
}
